.footer {
  align-items: center;
  background: $headerBg;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  padding: rem(6px) rem(20px);
  width: 100%;

  .footer-heading {
    color: rgba($white, 0.35);
    font-size: rem(11px);
    font-weight: 400;
    letter-spacing: 0.02em;
    margin: 0;
    text-align: center;
  }
}
